.homepage {
  margin: 10%;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "first-text first-image"
    "second-image second-text"
    "third-text third-text"
    "third-image third-image";
}

.homepage > div {
  padding: 20px;
}

.homepage_header {
  grid-area: header;
  text-align: center;
  align-self: center;
  font-size: 40px;
}

.homepage_body {
  justify-content: center;
  gap: 50px;
  font-size: 40px;
  text-align: start;
  margin: 20px;
}
