.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_navigation {
  margin: 25px;
  display: flex;
  flex-direction: row;
  gap: 300px;
}

@media (max-width: 1024px) {
  .navbar_navigation {
    flex-direction: column;
    gap: 50px;
  }
}

.navbar_navigation_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 45px;
  text-decoration: none;
  color: var(--white);
  font-size: 40px;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
}

.navbar_navigation_link:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.navbar_navigation_link:active {
  transform: scale(0.95);
}
