.simulation {
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.simulation_scene {
  flex: 1 1 0%;
  overflow: hidden;
  max-height: 100%;
  min-height: 70%;
  margin: 1%;
  border: 2px solid black;
  background-color: rgba(27, 33, 37, 0.7);
}

.simulation_scene_slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 25%;
  align-self: center;
  background: transparent; /* Otherwise white in Chrome */
}

/* Special styling for WebKit/Blink */
.simulation_scene_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--dark-grey);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--dark);
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.simulation_scene_slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--grey);
  cursor: pointer;
}

/* All the same stuff for IE */
.simulation_scene_slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--grey);
  cursor: pointer;
}

.simulation_scene_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--dark);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.simulation_scene_slider:focus::-webkit-slider-runnable-track {
  background: var(--dark);
}

.simulation_scene_slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--dark);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.simulation_scene_slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.simulation_scene_slider::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.simulation_scene_slider:focus::-ms-fill-lower {
  background: var(--dark);
}
.simulation_scene_slider::-ms-fill-upper {
  background: var(--dark);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.simulation_scene_slider:focus::-ms-fill-upper {
  background: var(--dark);
}

.simulation_toolbar {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side console right-side";
  min-height: 150px;
  width: 97%;
  margin: 1%;
}

@media (max-width: 1024px) {
  .simulation_toolbar {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .simulation_toolbar_leftside {
    display: flex;
    flex-direction: column;
  }
}

.simulation_toolbar_console {
  grid-area: console;
  align-self: center;
  margin: 1%;
  background-color: rgba(27, 33, 37, 0.6);
  color: white;
  border: 2px solid black;
  padding: 1%;
  overflow-y: scroll;
  font-size: 15px;
  width: 100%;
  min-height: 125px;
  max-height: 125px;
}

.simulation_toolbar_leftside {
  grid-area: "left-side";
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin: 30px;
  gap: 10px;
}

.simulation_toolbar_leftside > input {
  background-color: var(--grey);
  border: none;
  font-size: 20px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
}

.simulation_toolbar_leftside > input:focus {
  box-shadow: 0 0 10px var(--red);
  border: 1px solid var(--red);
  outline: none !important;
}

.simulation_toolbar_rightside {
  grid-area: "right-side";
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.simulation_toolbar_difficulty {
  display: flex;
  gap: 1vw;
}
.simulation_scene_block--selected {
  transition: 0.25s;
  filter: drop-shadow(0px 0px 20px var(--red));
}

.simulation_scene_block--orphaned {
  transition: 1s;
  fill-opacity: 0.1;
}

.simulation_scene_block_text {
  display: flex;
}

.simulation_scene_block_header {
  font-size: 20px;
  overflow-wrap: break-word;
  margin: 5px;
  padding: 5px;
  user-select: none;
}

.simluation_scene_block_button {
  width: 30px;
  height: 30px;
  margin: 10px;
  align-self: end;
  background: none;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.simluation_scene_block_button:hover {
  transition: 0.5s;
  transform: scale(1.3);
}
