.simulation_scene {
  flex: 1 1 0%;
  overflow: hidden;
  margin: 1%;
  border: 2px solid black;
  background-color: rgba(27, 33, 37, 0.6);
}

.simulation_console {
  align-self: center;
  margin: 1%;
  background-color: rgba(27, 33, 37, 0.6);
  color: white;
  border: 2px solid black;
  width: 40%;
  height: 15%;
  padding: 1%;
}

.simulation_toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.simulation_toolbar_body {
  display: flex;
  gap: 1vw;
}

.simulation_toolbar_difficulty {
  display: flex;
  gap: 1vw;
}

.simulation_scene_block_text {
  display: flex;
}

.simulation_scene_block_header {
  font-size: 7px;
  margin-bottom: 5px;
  padding: 10px;
}

.simulation_scene_block_body {
  margin-top: 5px;
  font-size: 15px;
  padding: 10px;
}
