body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  background: rgb(27, 33, 37);
  background: linear-gradient(
    135deg,
    rgba(27, 33, 37, 1) 40%,
    rgba(184, 66, 77, 1) 100%
  );
  padding: 0px;

  --dark: #1b2125;
  --red: #b8424d;
  --white: #fcfbfc;
  --grey: #929dac;
}
html,
body,
#root,
#root > div {
  height: 100vh;
  overflow-y: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
